body {
    font-family: 'Nunito', sans-serif;
    text-align: center;
    width: 100%;

}

header {
    background: black;
}

h1 {
    font-size: 60px;
    color: white;
}

h2 {
    font-size: 30px;
    margin-bottom: 40px;
}

.input{
    width: 15%;
    margin-top: 70px;
    margin-bottom: 70px;
    max-width: 450px;
}

li {
    margin: 10px;
}

button {
    margin: 10px;
}

footer {  
    background: black;
    color: white;
    position:absolute;
    bottom:0;
    width:100%;
}